@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

html {
    font-size: 22px;
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

:root {
    --blue: #0226a8;
    --dark-blue: #010519;
    --white: #f5f8ff;
    --pale-blue: #9ab0fe;
    --solo-blue: #0339fc;
    --paragraph-blue: #3863ff;
    --link: #312ed1;
}

body, button {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    background-color: var(--dark-blue);
    font-size: 1rem;
}

button {
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

.row-or-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}

button:hover {
    background-color: var(--pale-blue);
    color: var(--blue);
    cursor: pointer;
}

@media (max-width: 1200px) {
    body, button {
        font-size: 0.95rem;
    }
}

@media (max-width: 850px) {
    body, button {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    body, button, h1 {
        font-size: 0.7rem;
    }
}

@media (max-width: 330px) {
    body, button {
        font-size: 0.6rem;
    }
}

/* LINKS */
a {
    text-decoration: none;
    color: var(--white);
}

p.blue-link a {
    color: var(--paragraph-blue);
}

a:hover, p.blue-link a:hover, #navMenu:hover {
    color: var(--pale-blue);
    cursor: pointer;
    transition: color 0.3s ease;
}
/* LINKS END */

/* MARGIN-WRAPPER */
.margin-wrapper {
    background-color: none;
    margin-left: 240px;
    margin-right: 240px;
}

@media (max-width: 1400px) {
    .margin-wrapper {
        margin-left: 5%;
        margin-right: 5%;
    }
}
/* MARGIN-WRAPPER END */


/* NAVBAR */
#navLogo {
    height: 2em;
    width: auto;
    
}

.nav-wrapper {
    position: sticky;
    top: 0;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 2.5vw;
    padding-left: 1.5vw;
    border-radius: 85px;
    margin-top: 2%;
    margin-left: -2%;
    margin-right: -2%;
    align-items: center;
}

.nav-wrapper {
    margin-left: 240px;
    margin-right: 240px;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 3vw;
    align-items: center;
}

.showDropdownMenu {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    top: 1;
}

@media (max-width: 330px) {
    .showDropdownMenu {
        top: 30px;
    }
}

.dropdownMenuWrapper {
    display: flex;
    justify-content: right;
}

#dropdownMenu {
    position: fixed;
    top: 40px;
    right: 0;
    background-color: var(--blue);
    padding: 3%;
    display: none;
    z-index: 9999;
}

#dropdownMenu.open {
    display: flex;
    flex-direction: column;
}

@media (max-width: 99999999px) {
    .navbarLink {
        display: inline;
    }

    #navMenu {
        display: none;
    }
}

@media (max-width: 1400px) {
    .nav-wrapper {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 500px) {
    .nav-wrapper {
        margin: 0 0 0 0;
        top: 0;
        border-radius: 0;
        max-width: 100%;
    }

    .navbarLink {
        display: none;
    }

    #navMenu {
        display: inline;
    }
}
/* NAVBAR END */

